/eqmap/obj
/eqmap/bin
/.vs
/packages
/eqconsole/obj
/eqconsole/bin
/eqprotocol/obj
/eqprotocol/bin
/zlib/obj
/zlib/bin
/eqconsole/*.user
/eqmap/*.user
credentials.json
/settings.json
/eqlog/obj/Debug
/EQBot/bin/Debug/net8.0
/EQBot/obj
/eqmap/.vs
/claude
/eqviewer/bin/Debug/net8.0-windows
/eqviewer/obj
/network/x64/Debug
/x64/Debug